<h2>Enjoy your RandomSong</h2>
<div data-ng-if="vm.picksong">
  <ul>
    <p>name: {{vm.picksong.name}}</p>
    <p>artist: {{vm.picksong.artist}}</p>
    <p>{{vm.picksong.url}}</p>
  </ul>
</div>

<div class="edit-song">
  <input type="text" data-ng-model="vm.picksong.name" placeholder="Name...">
  <input type="text" data-ng-model="vm.picksong.artist" placeholder="Artist...">
  <input type="text" data-ng-model="vm.picksong.url" placeholder="Url...">
  <button data-ng-click="vm.update()">Edit Details</button>
  <button data-ng-click="vm.destroy()">Delete</button>
</div>
<br>
<button data-ui-sref="index">Find another!</button>
